@import url("./font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  outline: none;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer components {
  .mobile-anchors-container {
    @apply bg-white absolute top-0 left-[115vw] right-0 min-h-screen flex items-center justify-center p-5 transition-all duration-300;
  }

  .mobile-anchors-container.active {
    @apply left-0;
  }

  .mobile-anchors {
    @apply flex flex-col;
  }

  .pool-option {
    @apply transition-all duration-200;
  }

  .pool-option.active,
  :hover.pool-option {
    @apply bg-primary;
  }

  .pool-option.active p,
  .pool-option.active mark,
  :hover.pool-option p,
  :hover.pool-option mark {
    @apply text-white transition-all duration-200;
  }

  .pool-option.active mark,
  :hover.pool-option mark {
    @apply border-white;
  }
}

@media screen and (min-width: 300px) {
  .custom-right {
    right: -6rem;
  }
}

@media screen and (min-width: 400px) {
  .h1-size {
    font-size: 2.7rem;
  }
}
